<div class="col-12">
	<form method="POST">
		<div class="text-justify">The DGameMarket engine only supports Humble Bundle keys (i.e. also Humble Choice and Humble Store), which are offered as Gift. Such link after entering an email sends the key to this address. If the key was used before, it can be easily detected (in case of an attempted fraud).</div><br>
		<b>Attention. Large amounts of game keys can be verified longer. Please do not panic!</b><br><br>
		<label><b>Paste your key(s) here:</b></label>
		<textarea class="form-control" name="keys" rows="10" placeholder="Example:
https://www.humblebundle.com/gift?key=ABCDEFGHIJKLMNOP
https://www.humblebundle.com/gift?key=0123456789012345
"></textarea>
		<button type="submit" class="btn btn-primary">Add keys</button>
	</form>
</div>